//- form.pug
form.form-side
    ul.form-outer
        // Contact Photo Upload
        li
            span Profile Photo
            label(for="file-upload" class="contact-photo")
                i(class="fa fa-cloud-upload" aria-hidden="true")
            input(id="file-upload" type="file")



        // First Name
        li
            label(for="first-name") First Name
            input(type="text" id="first-name" placeholder="First Name" required)
            .validation Ooops! You forgot this one!

        // Last Name
        li
            label(for="last-name") Last Name
            input(type="text" id="last-name" placeholder="Last Name" required)
            .validation Ooops! You forgot this one!

        // Company Name
        li
            label(for="company-name") Company Name
            input(type="text" id="company-name" placeholder="Company Name" required)
            .validation Ooops! You forgot this one!

        // Phone Numbers
        #phone-wrapper
            li
                label(for="phone-number") Phone Number
                ul
                    li
                        input(type="text" id="phone-number" placeholder="Phone Number" required)
                ul
                    li
                        input(type="text" placeholder="ext.")



                ul.phone-type
                    li
                        .select
                            select(name="select" id="select" placeholder="Choose Phone Type")
                                option(value="Mobile") Mobile
                                option(value="Home") Home
                                option(value="Work") Work
                .primary-box
                    label(for="primary-email") Primary
                    input(type="radio" id="primary-email" class="primary-phone")


        // Email
        #email-wrapper
            li
                label(for="email") Primary Email

                .email-input
                    input(type="text" class="email" placeholder="Primary Email" required)
                    .validation Ooops! You forgot this one!

        // Mailing Address
        li
            label(for="mailing-address") Mailing Address
            input(type="text" id="mailing-address" placeholder="Mailing Address" required)
            .validation Ooops! You forgot this one!

        // Billing Address
        li
            label(for="billing-address") Billing Address
            input(type="text" id="billing-address" placeholder="Billing Address")
            .validation Ooops! You forgot this one!

        // Submit Button
         // See fixed footer for submit button
