//- index.pug
- var title= "Profile Builder";

DOCTYPE
    html(lang="en")
        head
            // meta tags
            meta(name="viewport" content="width=device-width, initial-scale=1")
            meta(http-equiv="X-UA-Compatible" content="IE=Edge, chrome=1")
            title= title
            // Styles
            link(href="css/main.css" rel="stylesheet")
            // Font Awesome CDN
            link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
        body
            .form-wrapper
                // Header
                include includes/header.pug

                // Main Content
                .main-content
                    .container
                        include includes/aside.pug

                        include includes/form.pug

                // Footer
                include includes/footer.pug

        // Add Email
        script.
            var email = 1;
            function add_email() {
                email++;
                var objTo = document.getElementById('email-wrapper')
                var createEmail = document.createElement("li");
                createEmail.innerHTML = '<label for="email">Email ' + email +'</label><div class="email-input"><input class="email" type="text" placeholder="Additional Email"/></div>';

                objTo.appendChild(createEmail)
            }

        // Add Phone
        script.
            var phone = 1;
            function add_phone() {
                phone++;
                var objTo = document.getElementById('phone-wrapper')
                var createPhone = document.createElement("li");
                createPhone.innerHTML = '<label for="phone-number">Phone ' + phone +'</label> <ul> <li> <input type="text" id="phone-number" placeholder="Phone Number"> </li></ul> <ul> <li> <input type="text" placeholder="ext."> </li></ul><ul class="phone-type"> <li> <div class="select"> <select name="select" id="select" placeholder="Choose Phone Type"> <option value="Mobile">Mobile</option><option value="Home">Home</option><option value="Work">Work</option></select> </li></ul></div><div class="primary-box"> <label for="'+phone+'">Primary</label><input class="primary-phone" id="'+phone+'" type="radio"> </div>';

                objTo.appendChild(createPhone)
            }
